<header class="header">
  <nav id="menu" class="flex">
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about">About me</a></li>
        <li><a href="/experience.html">Professional experience</a></li>
        <li><a href="/skills">Professional skills</a></li>
        <li><a href="#my-contacts">My contacts</a></li>
      </ul>
  </nav>
</header>