<main class="intro">
  <div class="intro_inner">
    <h1 class="intro_title"> Hello, I’m <span class="highlight"> Elena Vakulenko</span>
      <br> and this is my first job.</h1>
    <a class="waves-effect waves-light btn-large" href="/about"><i class="material-icons right">play_for_work</i>View my work</a>
  </div> 
</main>