
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: grey;
    background-color: #fff
}

*,
*:before,
*:after
{
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
margin: 0;
}

p {
margin: 0 0 10px;
}


.header {
    height: 100%;
    background: #92ccf0 url("https://html-templates.info/images/pages/140520040155.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro {
    height: 30em;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 750px;
    padding-top: 100px;
    font-size: 24px;
    width: 100%;
max-width: 970px;
margin: 0 auto;
text-align: center;
}

.highlight {
font-family: Tahoma, sans-serif;
  font-weight: 400;
}


.intro_title {
  margin-bottom: 60px;
  font-family: Regular, sans-serif;
  color:#fff;
  font-size: 50px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: unset;
}


.btn-large {
    display: inline-block;
    background-color: rgb(113, 173, 230);
}


.btn-large:hover {
    background-color: rgb(126, 164, 199);
} 



.flex {
    background-color: rgb(126, 164, 199);
}

.presentation {
  width: 100%;
max-width: 970px;
margin: 0 auto;
text-align: center;
}

#about-me {
    margin-top: 150px;
    margin-bottom: 200px;
}

.slideRight{
    animation-name: slideRight;
 
    animation-duration: 2s; 
 
    animation-timing-function: ease-in-out;  
 
    visibility: visible !important; 
}
 
 @keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }           
    100% {
        transform: translateX(0%);
    }   
}

.container {
  margin: auto;
  width: 70%;
  margin: 0 auto;
  height: auto;
  min-height: 700px;
}



img {
  margin: auto;
    width: 600px;
    height: 400px;
}

#experience {
  margin-top: 100px;
  height: 150px;
}

.view {
    margin: 10px;
    float: left;
    border: 10px solid rgb(177, 182, 199);
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
  }
  
  .view .mask,
  .view .content {
    width: 600px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
  }
  
  .view img {
    display: block;
    position: relative
  }
  
  .view h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
  }
  
  .view p {
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center
  }
  
  .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    font-family: Raleway, serif;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
  }
  
  .view a.info:hover {
    box-shadow: 0 0 5px #000
  }
  
  
  
  .view-second img {
    transition: all 0.2s ease-in;
  }
  
  .view-second .mask {
    background-color: rgba(12, 19, 27, 0.6);
    width: 300px;
    padding: 105px;
    height: 200px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
  }
  
  .view-second h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: Raleway, serif;
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
  }
  
  .view-second p {
    transform: translate(-200px, 200px);
    transition: all 0.2s ease-in-out;
  }
  .view-second a.info {
    transform: translate(0px, 100px);
    transition: all 0.2s 0.1s ease-in-out;
  }
  
  .view-second:hover .mask {
    opacity: 1;
    transform: translate(-80px, -125px) rotate(45deg);
  }
  
  .view-second:hover h3 {
    transform: translate(0px, 0px);
    transition-delay: 0.3s;
 }
  
  .view-second:hover p {
    transform: translate(0px, 0px);
     transition-delay: 0.4s;
  }
  
  .view-second:hover a.info {
    transform: translate(0px, 0px); 
    transition-delay: 0.5s;
  }
  
  .view-tenth img {
    transform: scaleY(1);
    transition: all .7s ease-in-out;
  }
  
  .view-tenth .mask {
    background-color: rgba(255, 231, 179, 0.3);
    transition: all 0.5s linear;
    opacity: 0;
  }
  
  .view-tenth h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
  }
  
  .view-tenth p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
  }
  
  .view-tenth a.info {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
  }
  
  .view-tenth:hover img {
    transform: scale(10);
    opacity: 0;
  }
  
  .view-tenth:hover .mask {
    opacity: 1;
  }
  
  .view-tenth:hover h3,
  .view-tenth:hover p,
  .view-tenth:hover a.info {
    transform: scale(1);
    opacity: 1;
  }


 #professional-skills {
  margin-top: 100px;
  height: 150px;
}







	.progress {
		min-height: 36px;
		overflow: hidden;
    position: relative;
  }
		span {
			padding: 8px;
      z-index: 1000;
    }
			
	
		.determinate {
			width: 0;
			transition: width 1s ease-in-out;
			padding: 8px;
			position: relative;
			color: #fff;
			text-align: right;
			white-space: nowrap;
		}
  
@keyframes
 grow {
  from {
    width: 0;
  }
}

.page-footer {
  background: rgb(113, 173, 230)
}

.far {
  position: fixed;
  right: 10px;
  bottom: 50px;
}

.far:hover,
.far:focus {
  filter: brightness(1.5);

}


