
body {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: hsl(212, 12%, 32%);

background-color: #fff
}

*,
*:before,
*:after
{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
margin: 0;
}

p {
margin: 0 0 10px;
}


.header {
    height: 100%;
    background: #92ccf0 url("https://html-templates.info/images/pages/140520040155.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*fixirovat=====*/
    
}


/*heading===========*/
.intro {
    height: 30em;
    align-items: center;
    display: flex;
    justify-content: center;
    display: flex;
    height: 750px;
    padding-top: 100px;
    font-size: 24px;

}

.highlight {
font-family: Tahoma, sans-serif;
  font-weight: 400;
}



.container {
    width: 100%;
max-width: 970px;
margin: 0 auto;
text-align: center;
}

.intro_title {
    margin-bottom: 60px;
  font-family: Regular, sans-serif;
  color:#fff;
  font-size: 50px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: unset;

  
}

/* Button ================*/
.btn-large {
    display: inline-block;
    background-color: rgb(113, 173, 230);
}


.btn-large:hover {
    background-color: rgb(126, 164, 199);
} 


/*navigation===========*/
.flex {
    background-color: rgb(126, 164, 199);
}



.about-me {
    height: 600px;
}

/*Anim========*/

#about-me {
    margin-top: 40px;
    margin-bottom: 60px;
}

.slideRight{
    animation-name: slideRight;
    -webkit-animation-name: slideRight; 
 
    animation-duration: 2s; 
    -webkit-animation-duration: 2s;
 
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
 
    visibility: visible !important; 
}
 
@keyframes slideRight {
    0% {
        transform: translateX(-150%);
    }
    50%{
        transform: translateX(8%);
    }
    65%{
        transform: translateX(-4%);
    }
    80%{
        transform: translateX(4%);
    }
    95%{
        transform: translateX(-2%);
    }           
    100% {
        transform: translateX(0%);
    }   
}
 
@-webkit-keyframes slideRight {
    0% {
        -webkit-transform: translateX(-150%);
    }
    50%{
        -webkit-transform: translateX(8%);
    }
    65%{
        -webkit-transform: translateX(-4%);
    }
    80%{
        -webkit-transform: translateX(4%);
    }
    95%{
        -webkit-transform: translateX(-2%);
    }           
    100% {
        -webkit-transform: translateX(0%);
    }
}

.row {
  margin-top: 10pc;
}

.professional-experience {
    height: 700px;
    
}

.block {
    margin-top: 40px;
    margin-left: 220px;
}

img {
   
    width: 500px;
    height: 400px;
}

.view {
    margin: 10px;
    float: left;
    border: 10px solid rgb(177, 182, 199);
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
  }
  
  .view .mask,
  .view .content {
    width: 500px;
    height: 400px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
  }
  
  .view img {
    display: block;
    position: relative
  }
  
  .view h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    /*background: rgba(0, 0, 0, 0.8);*/
    margin: 20px 0 0 0
  }
  
  .view p {
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center
  }
  
  .view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    font-family: Raleway, serif;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
  }
  
  .view a.info:hover {
    box-shadow: 0 0 5px #000
  }
  
  
  
  .view-second img {
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
  }
  
  .view-second .mask {
    background-color: rgba(12, 19, 27, 0.6);
    width: 300px;
    padding: 105px;
    height: 200px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    -webkit-transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
  }
  
  .view-second h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: Raleway, serif;
    background: transparent;
    margin: 20px 40px 0px 40px;
    -webkit-transform: translate(200px, -200px);
    transform: translate(200px, -200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .view-second p {
    transform: translate(-200px, 200px);
    -webkit-transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
  }
  
  .view-second a.info {
    transform: translate(0px, 100px);
    -webkit-transform: translate(0px, 100px);
    transition: all 0.2s 0.1s ease-in-out;
    -webkit-transition: all 0.2s 0.1s ease-in-out;
  }
  
  
  /* */
  
  .view-second:hover .mask {
    opacity: 1;
    transform: translate(-80px, -125px) rotate(45deg);
    -webkit-transform: translate(-80px, -125px) rotate(45deg);
  }
  
  .view-second:hover h3 {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
  }
  
  .view-second:hover p {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
  }
  
  .view-second:hover a.info {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
  }
  
  .view-tenth img {
    transform: scaleY(1);
    transition: all .7s ease-in-out;
  }
  
  .view-tenth .mask {
    background-color: rgba(255, 231, 179, 0.3);
    transition: all 0.5s linear;
    opacity: 0;
  }
  
  .view-tenth h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #333;
    transition: all 0.5s linear;
    opacity: 0;
  }
  
  .view-tenth p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
    padding-
  }
  
  .view-tenth a.info {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
  }
  
  .view-tenth:hover img {
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0;
  }
  
  .view-tenth:hover .mask {
    opacity: 1;
  }
  
  .view-tenth:hover h3,
  .view-tenth:hover p,
  .view-tenth:hover a.info {
    transform: scale(1);
    opacity: 1;
  }

/*button_sk=======*/
#button {
    display: inline-block;
    background-color: rgb(126, 164, 199);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }





.professional-skills {
    height: 750px;
}

.page-footer {
  background: rgb(113, 173, 230)

}



	.progress {
		min-height: 36px;
		overflow: hidden;
		position: relative;
		span {
			padding: 8px;
			z-index: 1000;
			i {
				width: inherit;
				font-size: inherit;
				position: relative;
				top: 2px;
				margin-left: 8px;
      } 
	
		.determinate {
			width: 0;
			transition: width 1s ease-in-out;
			padding: 8px;
			position: relative;
			color: #fff;
			text-align: right;
			white-space: nowrap;
		}
  }
  
	ul.collapsible {
		padding: 0;
		border: none;
		border-radius: 0;
		box-shadow:none;
		li {
			margin-bottom: 14px;
		}
		.collapsible-header {
			padding: 0;
			border-bottom: 0;
			.progress {
				margin: 0;
				border-radius: 0;
			}
		}
		.collapsible-body {
			padding: 16px;
			box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
		}
	}
}
@keyframes grow {
  from {
    width: 0;
  }
}




